*{
    padding: 0;
    margin: 0;
}


/* shared coding */
.display-flex{
    display: flex;
}
.primary-color{
    color: #000000;
}
.gray-light{
    color: #5a5959;
}
.btn-primary{
    background-color: #E02C6D;
    padding: 20px;
    border: none;
    border-radius: 40px;
    color: #ffffff;
    margin-top: 20px;
}

/* header part */
.navbar{
    justify-content: space-around;
    margin-top: 20px;
}

.list-title{
    font-size: 1rem;
    list-style: none;
    margin-left: 30px;
}
.list-title a{
    color:  #000000;
}
ul li a{
    text-decoration: none;
}
.header-container{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 200px;
}
.text-container{
    max-width: 400px;
}
.bg-container{
    background-image: url(images/Circle\ design.svg);
}
.btn-primary i{
    margin-left: 5px;
}
/* sponsor section */
.sponsor{
    max-width: 1110px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin: 50px auto;
}

/* section popular section */
.popular-section{
    max-width: 1047px;
    margin: auto;
}
.popular-section-header{
    font-size: 1.8rem;
    text-align: center;
}
.popular-container{
    margin-top: 3.6rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.container-card{
    margin-bottom: 50px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 0.8rem;
    border-radius: 8px;
    box-shadow: -10px 10px 15px rgba(0,0,0,0.3);
}
.card-title{
    font-size: 1.5rem;
    font-weight: 700;
}
.card-price{
    font-size: 1.2rem;
}
.ratting{
    color: goldenrod;
}
.ratting>span{
    color: #000000;
}
.seeMore{
    font-size: 1.8rem;
    text-align: end;
}
.seeMore>a{
    color: #E02C6D;
    text-decoration: none;
}
.featured-section{
    max-width: 1110px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    gap: 40px;

}
.featured-title{
    font-size: 2.4rem;
    margin-bottom: 20px;
}
.btn-joinNow{
    border-radius: 0px;
    padding: 1rem 2.7rem;
    cursor: pointer;
}
.footer{
    width: 100%;
    background-color: #0A0826;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 5rem; */
}
.footer-content{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
.social-icon{
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
}
.icon{
    height: 2rem;
    width: 2rem;
    background-color: #3d3c3c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
@media screen and (max-width: 576px) {
    .navbar{
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .header-container,
    .featured-section{
        flex-direction: column-reverse;
    }
    .header-container img{
        width: 100%;
    }
    .sponsor{
        grid-template-columns: repeat(4,1fr);
        margin-left: 1rem;
    }
    .sponsor img,
    .featured-section{
        text-align: center;
    }
    .sponsor :nth-child(5),
    .sponsor :nth-child(6),
    .sponsor :nth-child(7){
        margin-left: 12rem;
        margin-top: 1.2rem;
    }
    .popular-container{
        width: 90%;
        margin: 0 auto;
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (min-width: 576px) and (max-width:768px){
    .navbar{
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .header-container,
    .featured-section{
        flex-direction: column-reverse;
    }
    .header-container img{
        width: 100%;
    }
    .sponsor{
        margin-left: 1rem;
        grid-template-columns: repeat(4,1fr);
    }
    .sponsor img,
    .featured-section{
        text-align: center;
    }
    .sponsor :nth-child(5),
    .sponsor :nth-child(6),
    .sponsor :nth-child(7){
        margin-left: 12rem;
        margin-top: 1.2rem;
    }
    .popular-container{
        width: 90%;
        margin: 0 auto;
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width: 768px) and (max-width:992px){
    .navbar{
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .header-container,
    .featured-section{
        flex-direction: column-reverse;
    }
    .header-container img{
        width: 100%;
    }
    .sponsor{
        margin-left: 1rem;
        grid-template-columns: repeat(4,1fr);
    }
    .sponsor img,
    .featured-section{
        text-align: center;
    }
    .sponsor :nth-child(5),
    .sponsor :nth-child(6),
    .sponsor :nth-child(7){
        margin-left: 12rem;
        margin-top: 1.2rem;
    }
    .popular-container{
        width: 90%;
        margin: 0 auto;
        grid-template-columns: repeat(2,1fr);
    }
}